#author {
    
    font-style: italic;
}

#date {
    margin-top: 1%;
    margin-bottom: 3%;
}


.post-container {
    width: 100%;
    margin: auto;
    color: black;
    padding: 0.5rem;
    box-shadow: 0 2px 10px #5c5b5b;
    margin: auto;
    background-color: #ffffff;
    border-radius: 4px;
    height: 100%;
  
}

img {
    margin: auto;
}

.img-container {
    display: flex;
    justify-content: center;
    margin: 5% 0%;
}


